@import './styles/animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  background: #0C0C0C;
  font-family: 'Kanit', sans-serif;
}

/* Lenis smooth scrolling rules */
html.lenis,
html.lenis-scrolling {
  scroll-behavior: auto !important;
}

html.lenis-prevent {
  overflow: hidden;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Hero gradient text */
.hero-heading {
  background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
